 .team .team-item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.team .team-item .team-text {
  background: var(--bs-primary);
}
.imgFondo{
  background-color: #f8f9fa;

}

.team .team-item .team-social {
  position: absolute;
  top: -180px;
  left: 20px;
  opacity: 0;
  transition: 0.5s;
}

.team .team-item:hover .team-social {
  top: 20px;
  left: 20px;
  opacity: 1;
}

.team .team-item .team-img {
  position: relative;
  width: 100%;
}

.team .team-item .team-img::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  //background: rgba(0, 0, 0, 0.3);
  //cambiar color de hover
  background: rgba(207, 201, 201, 0.233);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.team .team-item:hover .team-img::after {
  bottom: 0;
  height: 100%;
}

.team .team-item .team-text {
  transition: 0.5s;
}

.team .team-item:hover .team-text {
  background: var(--bs-secondary);
}

