//el color del fon de container y nav
.color-light{
  background-color: #f8f9fa;
}
//menu
 .navbar .navbar-nav .nav-link {
  padding: 10px 16px;
  font-size: 16px;
  transition: .5s;
}
//titulo
.title{
  font-family: "PT Serif",serif;
}

//se pinta cada que pasa o da click en el menu
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.sticky-top.bg-white .navbar .navbar-nav .nav-link:hover,
.sticky-top.bg-white .navbar .navbar-nav .nav-link.active {
  color: var(--bs-primary);
}



.dropdown .dropdown-menu a:hover {
  background:#f8f9fa;
  color: var(--bs-primary);
}

/* .navbar .nav-item:hover .dropdown-menu {
  transform: rotateX(0deg);
  visibility: visible;
 // background: var(--bs-light) !important;
  //background: var(--bs-secondary-bg) !important;

  background: var(red) !important;
  border-radius: 10px !important;
  transition: .5s;
  opacity: 1;
} */

@media (min-width: 768px) {
  .navbar .navbar-collapse .border-top {
      border-top: none !important;
  }
}

